<div class="bg-img">
    <div class="content" [ngStyle]="spinner && {'width':'130px'}">

        <div *ngIf="spinner " class="spinner spinner-circle "></div>

        <ng-container *ngIf="!spinner">
            <header>
                <img src="../../../../assets/images/expense logo.PNG " />
            </header>
            <header style=' color: black; font-size: 25px; font-weight: 600; margin: 0 0 15px 0; font-family: "Montserrat ", sans-serif; '>
                Track Your Expenses
            </header>

            <form [formGroup]="expenseFormbuilder">
                <span *ngIf="errorMessage != ''" style="color: red;">{{errorMessage}}</span>
                <div class="field ">
                    <select formControlName="category" style="width: 100%;">
                    <option [value]='null'>Select A Category</option >
                    <option *ngFor="let category of categories">{{category}}</option>
                  </select>
                </div>

                <div class="field space">
                    <input class="form-control" (keypress)="keyPress($event)" type="text" class="pass-key" required placeholder="Add a budget" formControlName="budget">
                </div>


                <div class="field space" style="margin-bottom: 0px; margin-top: 5px; height: 20px; position: relative; bottom: 20px; color: red;">
                    <h6>*Please add atleast 1 expense.</h6>
                </div>

                <div class="field">
                    <button style="border: none; width: 25%;font-size: 15px;height: 30px;" type="submit" [disabled]="!expenseFormbuilder.valid" (click)="addItem()">Add</button>
                </div>
            </form>

            <div class="container fade-in" style="position: fixed;
            top: 0;
            height: 673px;
            width: 400px;
            left: 400px;" *ngIf="budgetArray.length > 0">
                <div class="col-xs-12">

                    <body>
                        <div class="table-title">
                            <h3>Budget Table</h3>
                        </div>
                        <table class="table-fill">
                            <thead>
                                <tr>
                                    <th class="text-left">Category</th>
                                    <th class="text-left">Budget</th>
                                </tr>
                            </thead>
                            <tbody class="table-hover">
                                <tr *ngFor="let item of budgetArray; let i = index;">
                                    <td class="text-left">{{item.name}}</td>
                                    <td class="text-left">{{item.budget | currency}} <i style="float: right;" class="fa fa-times" (click)="removeItem(i)"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </body>
                </div>
            </div>


            <div class="field" style="width: 100%; margin-top: 60px">
                <button type="submit" [disabled]="budgetArray.length == 0" (click)="onSubmit()">Finished</button>
            </div>
        </ng-container>
    </div>